*{
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
div {
  display: block;
  unicode-bidi: isolate;
}
a {
  text-decoration: none;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
label {
  cursor: default;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align:  -internal-center;
  unicode-bidi: isolate;
}
td {
  display: table-cell;
  vertical-align: inherit;
  unicode-bidi: isolate;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
h2 {
  display: block;
  font-size: 1.5rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
table {
  text-indent: initial;
  unicode-bidi: isolate;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}
body {
  background: url(https://p.w3layouts.com/demos_new/template_demo/23-03-2018/movie_seat_selection-demo_Free/759053290/web/images/banner.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-attachment: fixed;
  font-family: "Source Sans Pro", sans-serif;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.pull-right {
  float: right;
  position: fixed;
  right: 0px;
  top: 70px;
  width: 90px;
  z-index: 99999;
  text-align: center;
}
.pull-right {
  float: right;
}
.toggle-right-sidebar span {
  background: #0D1326;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #e6ebff;
  border-radius: 50px;
  font-size: 26px;
  cursor: pointer;
  opacity:  .5;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 Font-awesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-angle-double-right::before {
  content: "\f101";
}
#right-sidebar {
  width: 90px;
  position: fixed;
  height: 100%;
  z-index: 1000;
  right: 0px;
  top: 0;
  margin-top: 60px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  overflow-y: auto;
}
#w3lDemoBar.w3l-demo-bar {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 40px 5px;
  padding-top: 70px;
  margin-bottom: 70px;
  background: #0D1326;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
#w3lDemoBar.w3l-demo-bar.demo-btns {
  border-top: 1px solid #41414d;
  padding-top: 30px;
}
#w3lDemoBar.w3l-demo-bar a {
  display: block;
  color: #e6ebff;
  text-decoration: none;
  line-height: 24px;
  opacity: .6;
  margin-bottom: 20px;
  text-align: center;
}
#w3lDemoBar.w3l-demo-bar span.w3l-icon {
  display: block;
}
.fa-arrow-left::before {
  content: "\f060";
}
.fa-download::before {
  content: "\f019";
}
.fa-shopping-cart::before {
  content: "\f07a";
}
@media (max-width: 1920px) {
  h1 {
    font-size: 3.5vw;
  }
}
h1 {
  font-size: 2.9em;
  text-transform:  uppercase;
  color: #fff;
  font-weight: 600;
  text-shadow: 4px 3px 1px rgba(0, 0, 0, 0.22);
  letter-spacing: 2px;
  text-align: center;
  margin: 0.8em 1vw .9em;
  font-family: 'Source Sans Pro', sans-serif;
}
.container {
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content:center;
  justify-content: center;
}
.w3ls-reg
 {
  width: 700px;
  margin: 0 5vw;
  background: rgba(128, 128, 128, 0.34);
  padding: 3.5vw;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  flex-wrap:wrap;
 }
 h2 {
  color: #ff9800;
  text-transform: capitalize;
  margin-bottom: 25px;
  font-size: 1em;
  letter-spacing: 0.5px;
  line-height: 1.7;
 }
 .mr_agilemain {
  display: flex;
  justify-content: space-between;
  width: 100%;
 }
 .agileits-left {
  flex-basis: 60%;
  margin-bottom: 1.5em;
 }
 label {
  font-size: 1em;
  color: #fff;
  font-weight: 600;
 }
 .mr_agilemain span {
  color: #f00;
 }
 input[type="text"], input[type="number"] {
  padding: 1em;
  width: 80%;
  background: transparent;
  border: 1px solid #888686;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  margin-top: 10px;
  color: #fff;
 }
 .agileits-right {
  flex-basis: 40%;
  margin-bottom: 1.5em;
 }
 button {
  background: #f5f5f5;
  border: none;
  color: #000;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 10px;
  font-size:1em;
  letter-spacing: 1px;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
 }
 ul.seat_w3ls {
  margin: 2em 0;
 }
 ol, ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
 }
 li.smallBox {
  text-align: left;
  display: inline-block;
  margin-right: 1em;
  color: #fff;
 }
 .greenBox::before {
  content: "";
  background: green;
 }
 .smallBox::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
 }
 .redBox::before {
  content: "";
  background: red;
 }
 .emptyBox::before {
  content: "";
  box-shadow: inset 0px 2px 3px 0px rgb(255, 152, 0), 0px 1px 0px 0px rgba(255, 255, 255, .8);
  -webkit-box-shadow: inset 0px 2px 3px 0px rgb(255, 152, 0), 0px 1px 0px 0px rgba(255, 255, 255, .8);
  background-color: #fff;
 }
 .txt-center {
  text-align: center;
 }
 table {
  text-align: center;
 }
 table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
 }
 td {
  width: 40px;
  font-weight: 600;
  font-size: 1em;
  padding-top: 7px;
  height: 24px;
  color: #fff;
 }
 input[type=checkbox] {
  width: 13px;
  margin-right: 14px;
  cursor: pointer;
 }
 .seats {
  border: 1px solid red;
  background:  yellow;
 }
 input[type="checkbox" i]:disabled {
  background-color: initial;
 }
 input:disabled {
  border-color: rgba(118, 118, 118, 0.3);
 }
 input[type="checkbox" i] {
  appearance: auto;
  box-sizing: border-box;
 }
input:disabled {
  cursor: default;
  background-color: light-dark((239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
  color: light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
}
input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border:initial;
}
input[type="checkbox"]::before {
  content: "";
  width: 25px;
  height: 18px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: 3px solid #ff9800;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
  -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
  background-color: #ffffff;
}
.seatGap {
  width: 40px;
}
.seatVGap {
  height: 40px;
}
.screen {
  width: 100%;
  background: #ff9800;
  margin: 2em 0;
}
h2.wthree {
  padding: 0.8em;
  font-size: 1.2em;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 7px;
  word-spacing: 10px;
}
h2 {
  color: #ff9800;
  text-transform: capitalize;
  margin-bottom: 25px;
  font-size: 1em;
  letter-spacing: 0.5px;
  line-height: 1.7;
}
button:disabled {
  background-color: light-dark(rgba(251, 244, 244, 0.9), rgba(19, 1, 1, 0.3));
  color: light-dark(rgba(16, 16, 16, 0.9), rgba(255, 255, 255, 0.3));
  border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}
.displayerBoxes {
  margin-top: 2em;
}
.Displaytable {
  text-align: center;
}
table.Displaytable tr {
  background: #fff;
  color: #fff;
}
.Displaytable td, .Displaytable th {
  width: 100%;
  padding: 7px 10px;
  color: #000;
  font-weight: 600;
}
textarea {
  border: none;
  background: transparent;
  resize: none;
}
textarea:disabled {
  cursor: default;
  background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
  color: light-dark (rgb(84, 84, 84), rgb(170, 170, 170));
  border-color:  rgba(118, 118, 118, 0.3);
}
.copy-wthree {
  margin: 3em 0em;
  text-align: center;
}
.copy-wthree p {
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1.7;
  padding: 0 1em;
}
.copy-wthree p a {
  color: #fff;
}